body {
    margin: 0px;
}

.app {
    width: 100%;
}

.entry {
    margin: 2px;
    padding: 2px;
}

.submit-button {
    width: 220px;
}

.centering {
    margin-top: calc((100vh - (514.5px + 48px))/2);
}
