body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #EFFFFD;
overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-color: #000044;
  position: sticky;
  top: 0;
  height: 50px;
}

.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.items-align{
  align-items: center;
}
.pad{
  padding: 8px 16px;
}
.m-20{
  margin: 20px;
}
.font-lato{
  font-family: 'Lato', sans-serif;
}
.no-underline{
  text-decoration: none;
}
.font-color{
  color: white;
}
.bg-color-branded-teal{
  background-color: #539d98;
}
.border-none{
  border: none;
}
.rounded-border{
  border-radius: 9999px;
}
.font-bold{
  font-weight: bold;
}
.font-slogan{
  font-family: 'Dancing Script', cursive;
}
.slogan-color{
  color: #F76E11;
}
.body{
  height: auto;
  min-height: 550px;
  width: 430px;
  background-color: #003366;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.form-styling{
  width: 60%;
  height: 35px;
	padding-left: 15px;
  padding-right: 12px;
	border: none;
	border-radius: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.637);
}
.form-in{
  width: 430px;
  height: 375px;
	font-size: 16px;
	font-weight: 300;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 55px;
  transition: opacity .5s ease, transform .5s ease;
}
li{
  font-family: 'Oxygen', sans-serif;
  padding-left: 120px;
  font-size: 25px;
  display: inline;
  text-align: left;
  text-transform: uppercase;
  padding-right: 10px;
  color: #ffffff;
}
label {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: white;
  display: block;
}
.drop-down{
   border-radius: 9999px;
   margin-left : 12px;
}
.add-button{
  border-radius: 9999px;
  background-color: transparent;
  color:white;
  margin-left: 370px;
}
.font-size{
  font-size: 15px;
}
.rounded-main{
  border-radius: 20px;
}
.font-drop{
  font-family: 'Fredoka', sans-serif;
}
.block{
  display: block;
}
.m-auto{
  margin-top: 50px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.p-10{
  padding-top: 20px;
  padding-bottom: 10px;
}
.font-logo{
  font-family: 'Shizuru', cursive;
  font-size: 64px;
  color:white;
  font-weight: bold;
}
img{
  width: 120px;
  height: 50px;
}

.bg-color-branded-teal:hover {
  transform: scale(1.2);
}

.gg-profile:hover {
  transform: scale(1.2);
}

button:hover {
  transform: scale(1.2);
}

.btn {
  text-decoration: none;
  color: white;
}